.ResultScreen
{
	max-width: 600px;
	border-radius: 12px;
	background-color: #3253DC;
	box-shadow: 0 0 60px -20px rgba(0,0,0,0.5);
	margin: 0px auto;
	padding: 40px 50px;
	color: #FFF;

	&.IEScreen
	{
		box-shadow: 0 0 60px rgba(0,0,0,0.5);
	}
	
	@media only screen and (max-width: 767px)
	{
		box-shadow: none;
		padding: 40px 30px 30px;
		border-radius: 0px;
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		min-height: 0px;
	}

	@media all and (max-device-height: 668px)
	{
		padding: 20px 50px;
	}

	h1
	{
	  color: #FFFFFF;
	  font-family: "Qualcomm-Semibold";
	  font-size: 34px;
	  letter-spacing: 0;
	  line-height: 38px;
	  text-align: center;
	  font-weight: 500;

		@media all and (max-device-height: 668px)
		{
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 20px;
		}
	}

	p
	{
	  color: #FFFFFF;
	  font-family: "Qualcomm-Regular";
	  font-size: 21px;
	  letter-spacing: 0;
	  line-height: 32px;
	  text-align: center;
	}


	.Invisible
	{
		opacity: 0 !important;
	}


	.ModeChanger
	{
		cursor: pointer;
		display: block;
		background: #333;
		height: 20px;
		width: 20px;
	}

	.ModeChanger
	{
		border-radius: 14.5px;
  		background-color: #557CE1;
  		height: 29px;
  		width: 52px;
  		cursor: pointer;
		display: block;
		margin: 0px auto 10px;
		position: relative;
		margin-top: 150px;
		
		span
		{
		  height: 25px;
		  width: 25px;
		  background-color: #3253DC;
		  left: 2px;
		  transform: translateY(-50%);
		  top: 50%;
		  display: block;
		  position: absolute;
		  border-radius: 12.5px;
		  transition: all 0.3s ease;
		}

		&.On
		{
			background: #FFF;

			span
			{
				left: auto;
				right: 2px; 
			}
		}

		@media all and (max-device-height: 900px)
		{
			margin-top: 50px;
		}
	}

	h3
	{
	  font-family: "Qualcomm-Semibold";
	  font-size: 13px;
	  font-weight: 500;
	  letter-spacing: 1px;
	  line-height: 18px;
	  text-align: center;
	  text-transform: uppercase;
	  margin-bottom: 25px;
	}

	.LastBtn button
	{
		
		@media only screen and (max-width: 767px)
		{
			margin-top: 0px;
			position: absolute;
			bottom: 15px;
			width: 300px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}