.SideDrawer
{
	position: fixed;
	width: 280px;
	max-width: 70%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 200;
	background-color: white;
	padding: 32px 16px;
	box-sizing: border-box;
	transition: transform 0.3s ease-out;

	.NavMenu
	{
		ul
		{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}

		li
		{
			list-style: none;
		}

		a
		{
			color: #677283;
		    font-family: "Qualcomm-Regular";
		    font-size: 21px;
		    letter-spacing: 0;
		    line-height: 25px;
		    text-align: left;
    		padding: 8px 10px;
    		display: block;
    		text-decoration: none;
		}
	}

	@media (min-width: 500px)
	{
		.SideDrawer{
			display: none;
		}
		
	}

	&.Open
	{
		transform: translateX(0);
	}

	&.Close
	{
		transform: translateX(-100%);
	}


	.Logo
	{
		height: 11%;
		margin-bottom: 32px;
	}

}

